@import './resetdasadsadsdsa.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.cont {
    padding: 3px 0px;
    border-bottom: 2px solid #1f1f1f;
    background-color: #151515;
    color: #FFFFFF;
    max-width: 4800px;
    cursor: default;
}
.cont1 {
    padding: 2000px 0px;
    border-bottom: 2px solid #2c2c2c;
    background-color: #161616;
    color: #FFFFFF;
    max-width: 4800px;
    cursor: default;
}

.img-cont {
    cursor: default;
}

.logo {
    color: rgb(243, 243, 243);
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
    right: 10px;
}

.txt {
    transform: translate(100px, 0);
}

.txt1 {
    color: rgb(243, 243, 243);
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    right: 10px;
}

.txt1:hover {
    filter: brightness(0.7);
    transition: 0.15s;
}

.txt2 {
    color: rgb(243, 243, 243);
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    right: 10px;
}

.txt2:hover {
    filter: brightness(0.7);
    transition: 0.15s;
}

.txt3 {
    color: rgb(243, 243, 243);
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    right: 10px;
}

.txt3:hover {
    filter: brightness(0.7);
    transition: 0.15s;
}

.txt4 {
    color: rgb(243, 243, 243);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    right: 10px;
}

.txt4a1 {
    color: rgb(235, 118, 237);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    right: 10px;
}

.txt5 {
    color: rgb(243, 243, 243);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    right: 10px;
}

.txt6 {
    color: rgb(243, 243, 243);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    right: 10px;
}

.txt6a1 {
    text-decoration: underline;
}

.txt6a2 {
    color: #51ec21;
}

.txt7 {
    color: rgb(243, 243, 243);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    transform: translate(0, 30px);
}

.txt8 {
    color: rgb(243, 243, 243);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    transform: translate(0, 30px);
}

.txt7a1 {
    color: rgb(235, 118, 237);
}

.textad {
    transform: translate(20px, -1930px);
    width: 360px;
    height: 305px;
    background-color: #161616;
    border-style: solid; /* стиль рамки в виде сплошной линии */
    border-width: 3px; /* толщина рамки */
    border-color: rgb(243, 243, 243); /* цвет рамки */
    border-radius: 15px; /* сглаживание рамки */
    padding: 20px;
    cursor: default;
}

.textad:hover {
    filter: brightness(1.2);
}

.textad1 {
    transform: translate(410px, -2235px);
    width: 480px;
    height: 305px;
    background-color: #161616;
    border-style: solid; /* стиль рамки в виде сплошной линии */
    border-width: 3px; /* толщина рамки */
    border-color: rgb(243, 243, 243); /* цвет рамки */
    border-radius: 15px; /* сглаживание рамки */
    padding: 20px;
    cursor: default;
}

.textad1:hover {
    filter: brightness(1.2);
}

.textad2 {
    transform: translate(920px, -2540px);
    width: 480px;
    height: 305px;
    background-color: #161616;
    border-style: solid; /* стиль рамки в виде сплошной линии */
    border-width: 3px; /* толщина рамки */
    border-color: rgb(243, 243, 243); /* цвет рамки */
    border-radius: 15px; /* сглаживание рамки */
    padding: 20px;
    cursor: default;
    color: rgb(243, 243, 243);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    right: 10px;
}

.textad2:hover {
    filter: brightness(1.2);
}

.list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transform: translate(1000px, -45.2px);
}

.aaa {
    transform: translate(0, 22px);
}

.img1b {
    border: 3px solid rgb(243, 243, 243);
    padding: 50px 50px 130px;
    border-radius: 35px;
    width: 650px;
    height: 780px;
    transform: translate(20px, -4450px);
}

.img1 {
    border-radius: 10px;
}

.button1 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(140px, 70px)
}

a.button1:hover { background: rgba(255,255,255,.2); }
a.button1:active { background: white; }



.img2b {
    border: 3px solid rgb(243, 243, 243);
    padding: 50px 50px 130px;
    border-radius: 35px;
    width: 650px;
    height: 780px;
    transform: translate(751px, -5230px);
}

.img2 {
    border-radius: 10px;
}

.button2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(140px, 70px)
}

a.button2:hover { background: rgba(255,255,255,.2); }
a.button2:active { background: white; }



.container {
    transform: translate(-0px, 0px);
}

.pl {
    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    width: 230px;
    height: 415фpx;
    color: rgb(243, 243, 243);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    transform: translate(1430px, -6408px);
    cursor: default;
}

.btn1 {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    padding: 5px;
    border: 2px solid;
    border-radius: 12px;
    transition: 0.3s;
    transform: translate(20px, 20px);
}

a.btn1:hover { background: rgba(255,255,255,.2); }
a.btn1:active { background: white; }

.txt9 {
    color: rgb(243, 243, 243);
    transform: translate(70px, -25px);
}

.btn2 {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    padding: 5px;
    border: 2px solid;
    border-radius: 12px;
    transition: 0.3s;
    transform: translate(20px, -5px);
}

a.btn2:hover { background: rgba(255,255,255,.2); }
a.btn2:active { background: white; }

.txt10 {
    color: rgb(243, 243, 243);
    transform: translate(70px, -50px);
}

.btn3 {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    padding: 5px;
    border: 2px solid;
    border-radius: 12px;
    transition: 0.3s;
    transform: translate(20px, -30px);
}

a.btn3:hover { background: rgba(255,255,255,.2); }
a.btn3:active { background: white; }

.txt11 {
    color: rgb(243, 243, 243);
    transform: translate(70px, -75px);
}

.btn4 {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    padding: 5px;
    border: 2px solid;
    border-radius: 12px;
    transition: 0.3s;
    transform: translate(20px, -55px);
}

a.btn4:hover { background: rgba(255,255,255,.2); }
a.btn4:active { background: white; }

.txt12 {
    color: rgb(243, 243, 243);
    transform: translate(70px, -100px);
}

.btn5 {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    padding: 5px;
    border: 2px solid;
    border-radius: 12px;
    transition: 0.3s;
    transform: translate(20px, -80px);
}

a.btn5:hover { background: rgba(255,255,255,.2); }
a.btn5:active { background: white; }

.txt13 {
    color: rgb(243, 243, 243);
    transform: translate(70px, -125px);
}

.btn6 {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    padding: 5px;
    border: 2px solid;
    border-radius: 12px;
    transition: 0.3s;
    transform: translate(20px, -105px);
}

a.btn6:hover { background: rgba(255,255,255,.2); }
a.btn6:active { background: white; }

.txt14 {
    color: rgb(243, 243, 243);
    transform: translate(70px, -150px);
}

.btn7 {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    padding: 5px;
    border: 2px solid;
    border-radius: 12px;
    transition: 0.3s;
    transform: translate(20px, -130px);
}

a.btn7:hover { background: rgba(255,255,255,.2); }
a.btn7:active { background: white; }

.txt15 {
    color: rgb(243, 243, 243);
    transform: translate(70px, -175px);
}





.bord1 {
    transform: translate(20px, -5700px);
    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;

    width: 1495px;
    height: 1285px;

    cursor: default;
}



.python {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 20px);
}

.ttxt1 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time1 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price1 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb1 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb1:hover { background: rgba(255,255,255,.2); }
a.btnb1:active { background: white; }

a.btnb2:hover { background: rgba(255,255,255,.2); }
a.btnb2:active { background: white; }

.logo1 {
    width: 60px;
    height: 60px;

    transform: translate(-270px, -165px);
}



.js {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 20px);
}

.ttxt2 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time2 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price2 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb11 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb22 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb11:hover { background: rgba(255,255,255,.2); }
a.btnb11:active { background: white; }

a.btnb22:hover { background: rgba(255,255,255,.2); }
a.btnb22:active { background: white; }

.logo2 {
    width: 60px;
    height: 60px;

    transform: translate(-270px, -175px);
}




.HTML5 {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 20px);
}

.ttxt3 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time3 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price3 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb111 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb222 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb111:hover { background: rgba(255,255,255,.2); }
a.btnb111:active { background: white; }

a.btnb222:hover { background: rgba(255,255,255,.2); }
a.btnb222:active { background: white; }

.logo3 {
    width: 60px;
    height: 60px;

    transform: translate(-270px, -175px);
}




.CSS3 {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 40px);
}

.ttxt4 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time4 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price4 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb1111 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb2222 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb1111:hover { background: rgba(255,255,255,.2); }
a.btnb1111:active { background: white; }

a.btnb2222:hover { background: rgba(255,255,255,.2); }
a.btnb2222:active { background: white; }

.logo4 {
    width: 50px;
    height: 60px;

    transform: translate(-250px, -175px);
}





.Csharp {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 40px);
}

.ttxt5 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time5 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price5 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb11111 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb22222 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb11111:hover { background: rgba(255,255,255,.2); }
a.btnb11111:active { background: white; }

a.btnb22222:hover { background: rgba(255,255,255,.2); }
a.btnb22222:active { background: white; }

.logo5 {
    width: 50px;
    height: 60px;

    transform: translate(-250px, -175px);
}





.Cplusplus {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 40px);
}

.ttxt6 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time6 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price6 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb111111 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb222222 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb111111:hover { background: rgba(255,255,255,.2); }
a.btnb111111:active { background: white; }

a.btnb222222:hover { background: rgba(255,255,255,.2); }
a.btnb222222:active { background: white; }

.logo6 {
    width: 50px;
    height: 60px;

    transform: translate(-250px, -175px);
}





.PHP {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 60px);
}

.ttxt7 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time7 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price7 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb1111111 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb2222222 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb1111111:hover { background: rgba(255,255,255,.2); }
a.btnb1111111:active { background: white; }

a.btnb2222222:hover { background: rgba(255,255,255,.2); }
a.btnb2222222:active { background: white; }

.logo7 {
    width: 110px;
    height: 50px;

    transform: translate(-280px, -165px);
}




.Java {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 60px);
}

.ttxt8 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time8 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price8 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb11111111 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb22222222 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb11111111:hover { background: rgba(255,255,255,.2); }
a.btnb11111111:active { background: white; }

a.btnb22222222:hover { background: rgba(255,255,255,.2); }
a.btnb22222222:active { background: white; }

.logo8 {
    width: 120px;
    height: 80px;

    transform: translate(-280px, -185px);
}





.Lua {
    display: inline-block;
    transition: 0.2s;

    border: 3px solid rgb(243, 243, 243);
    border-radius: 15px;
    padding: 0px;
    width: 480px;
    height: 400px;

    background-color: #1d1d1d;

    transform: translate(20px, 60px);
}

.ttxt9 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(0px, 25px);
}

.time9 {
    text-align: left;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(243, 243, 243);
    transform: translate(30px, 45px);
}

.price9 {
    background-color: #2c2c2c;
    
    border-radius: 5px;
    padding: 18px;
    width: 440px;
    height: 100px;

    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;

    color: rgb(243, 243, 243);

    transform: translate(18px, 60px);
}

.btnb111111111 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(45px, 100px)
}

.btnb222222222 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    display: inline-block;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    transform: translate(98px, 100px)
}

a.btnb111111111:hover { background: rgba(255,255,255,.2); }
a.btnb111111111:active { background: white; }

a.btnb222222222:hover { background: rgba(255,255,255,.2); }
a.btnb222222222:active { background: white; }

.logo9 {
    width: 90px;
    height: 80px;

    transform: translate(-260px, -185px);
}